## INTRODUCTION

### A data cleanaing and pre-processing would be carried out on a pretty large dataset. The dataset contains building permits for the city of Rockford, Illinois, United States of America. 
### The link to the dataset is: "https://data.illinois.gov/dataset/city-of-rockford-building-permits"

Import the necessary libraries.

In [1]:
import pandas as pd
import chardet
from datetime import datetime

Decoding the dataset to avoid unicode error because I got an error message trying to read the dataset

In [2]:
with open('permits_opendataportal.csv', 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']

Read the datasset

In [3]:
df = pd.read_csv('permits_opendataportal.csv', encoding=encoding)
df.sample(3)

,DateIssued1,Month,PermitType,PermitNo,WorkType,PropertyAddress,PIN,APName,ContractorDBA,ContractorFullName,Valuation,Description
101966,06/28/2024 11:45,Jun-24,Single Family Dwelling,SFD20242570,ROOF,3007 GARFIELD,11-10-454-028,ROOF,NaN,Swanson Justin,10000.0,tear off and replace roof
73215,01/25/2024 19:07,Jan-24,Multifamily/Commercial Permits,MULCOM20241073,ADDCOMM,E 425 STATE,11-23-387-020,test,NaN,Martin Tim,1234.0,test
23625,08/04/2023 13:47,Aug-23,Water dept,WATER20231029,WATERRES,6252 MEADOWS,NaN,WATER METER INSTALLATION,NaN,NORTH ROCKFORD CONVALESCENT HOME,0.0,EXISTING 1 WATER SERVICE AND WILL NEED A 3/4 M...

In [4]:
df.shape

(132362, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132362 entries, 0 to 132361
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   DateIssued1         132362 non-null  object
 1   Month               132362 non-null  object
 2   PermitType          132362 non-null  object
 3   PermitNo            132362 non-null  object
 4   WorkType            132362 non-null  object
 5   PropertyAddress     132302 non-null  object
 6   PIN                 113930 non-null  object
 7   APName              132362 non-null  object
 8   ContractorDBA       50588 non-null   object
 9   ContractorFullName  132154 non-null  object
 10  Valuation           132362 non-null  float64
 11  Description         132362 non-null  object
dtypes: float64(1), object(11)
memory usage: 12.1+ MB

Creating a copy of the data set and carrying out a sanity check on the dataset for cleaning.

In [6]:
data = df.copy()
data.sample(3)

,DateIssued1,Month,PermitType,PermitNo,WorkType,PropertyAddress,PIN,APName,ContractorDBA,ContractorFullName,Valuation,Description
108851,08/15/2024 15:04,Aug-24,Mechanical Permits,MECH20241974,FURNACCOM,2180 ELMWOOD,07-35-426-023,RTU (5),AREA MECHANICAL INC.,SPRAGUE WILLIAM,60000.0,Replace 5 existing RTu with new 3 10 ton 1 7....
44324,07/27/2023 09:35,Jul-23,Electrical Permits,ELECT20231916,NEWCOMM,510 WALNUT,NaN,Lot 16 Civil Site Design,WILLIAM CHARLES ELECTRIC LLC,READ MARK,1.0,Install new lighting electrical outlets and ca...
80612,03/18/2024 10:57,Mar-24,Multifamily/Commercial Permits,MULCOM20241231,ROOF,4000 MORSAY,NaN,ROOF,McDermaid Roofing & Insulating Co.,Naretta Paul,29800.0,roof overlay

In [7]:
# Checking if our new copy was well executed.
data.shape

(132362, 12)

In [8]:
data.isnull().sum()

DateIssued1               0
Month                     0
PermitType                0
PermitNo                  0
WorkType                  0
PropertyAddress          60
PIN                   18432
APName                    0
ContractorDBA         81774
ContractorFullName      208
Valuation                 0
Description               0
dtype: int64

In [9]:
data.duplicated().sum()

112322

In [10]:
# Changing our date column to a "datetime" function instead of an "object".
data['DateIssued1'] = pd.to_datetime(data['DateIssued1'])
data.sample(3)

,DateIssued1,Month,PermitType,PermitNo,WorkType,PropertyAddress,PIN,APName,ContractorDBA,ContractorFullName,Valuation,Description
86846,2024-05-09 13:59:00,May-24,Electrical Permits,ELECT20241395,MSCWIRERES,1311 22ND,11-36-307-013,REMODEL- MISC WIRING,ACE Electric of Rockford,Stahr Lawrence,2000.0,Advised proposed contractor on finishing up pr...
7235,2023-01-17 11:55:00,Jan-23,Mechanical Permits,MECH20222740,FURNACRES,5463 ROANOKE,12-16-177-008,FURNACE,Pearson Plumbing & Heating,Stenstrom Robert,5369.0,Replace existing furnace with 120000 BTU / 96%...
52673,2023-09-13 12:05:00,Sep-23,Electrical Permits,ELECT20232136,MSCWIRECOM,609 KILBURN,NaN,BOYS AND GIRLS CLUB,NaN,Villani Carla,8315.0,Installing power for chair lift.

In [11]:
# Remoing the timestamp on our Date Column because we do not need it.
data['DateIssued1'] = data['DateIssued1'].dt.normalize()
data.sample(3)

,DateIssued1,Month,PermitType,PermitNo,WorkType,PropertyAddress,PIN,APName,ContractorDBA,ContractorFullName,Valuation,Description
76711,2024-03-20,Mar-24,Fire Permits,FIRE20241012,SPRINKLER,N 720 HIGHLAND,11-24-252-017,Stepping Stones Group Home - FIRE SPRINKLER,NELSON FIRE PROTECTION,NELSON FIRE PROTECTION,26770.00,Install (a) new sprinkler system to accommodat...
71800,2024-05-22,May-24,Single Family Dwelling,SFD20241024,SOLARRES,2305 QUAIL,11-02-304-013,SOLAR RES,NaN,Freedom Forever IL LLC,14751.25,Install PV Rooftop Solar 19 Modules and a new ...
86157,2024-05-29,May-24,Multifamily/Commercial Permits,MULCOM20241383,SIGNS,E 7801 STATE,12-23-476-004,Hard Rock Casino-HANDICAP SIGN-NON ILLUMINATED...,NaN,Mckenna Louise,200.00,Hard Rock CasinoHANDICAP SIGNNON ILLUMINATED B58

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132362 entries, 0 to 132361
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   DateIssued1         132362 non-null  datetime64[ns]
 1   Month               132362 non-null  object
 2   PermitType          132362 non-null  object
 3   PermitNo            132362 non-null  object
 4   WorkType            132362 non-null  object
 5   PropertyAddress     132302 non-null  object
 6   PIN                 113930 non-null  object
 7   APName              132362 non-null  object
 8   ContractorDBA       50588 non-null   object
 9   ContractorFullName  132154 non-null  object
 10  Valuation           132362 non-null  float64
 11  Description         132362 non-null  object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 12.1+ MB

In [13]:
# This column has unique values for all entry which makes it easier to use in removing duplicates.
data = data.drop_duplicates(subset='PermitNo', keep='first')

In [14]:
data.shape

(19657, 12)

In [15]:
data.duplicated().sum()

0

In [16]:
data.isnull().sum()

DateIssued1               0
Month                     0
PermitType                0
PermitNo                  0
WorkType                  0
PropertyAddress          12
PIN                    2148
APName                    0
ContractorDBA         12283
ContractorFullName       21
Valuation                 0
Description               0
dtype: int64

In [17]:
data['APName'].unique()

array(['DEMO SFD', 'Roof', 'Water Heater', ..., 'Ann Petty',
       "Mama Lou's Foods - Hood", 'DEMO HOUSE COR'], dtype=object)

In [18]:
data['APName'] = data['APName'].str.replace("*", "")

In [19]:
data['APName'] = data['APName'].str.strip()

In [20]:
# This column has lots of unetered data. There wont be need for in our final dataset.
data = data.drop(columns = 'ContractorDBA')
data.sample(2)

,DateIssued1,Month,PermitType,PermitNo,WorkType,PropertyAddress,PIN,APName,ContractorFullName,Valuation,Description
122137,2022-08-30,Aug-22,Electrical Permits,ELECT20221920,RECONELECT,1313 18TH,11-36-154-008,Re-Connect,Leoni Dante,100.0,RECONNECT PER COMED (Pole came down reconnect)
867,2022-11-15,Nov-22,Single Family Dwelling,SFD20223256,ROOF,1835 APPLETREE,12-32-252-002,Roof,HOFFMAN AARON,13878.0,Tear off and reroof Lic 104.015996

In [21]:
data['ContractorFullName'] = data['ContractorFullName'].str.title()
data.sample(3)

,DateIssued1,Month,PermitType,PermitNo,WorkType,PropertyAddress,PIN,APName,ContractorFullName,Valuation,Description
44771,2023-07-27,Jul-23,Miscellaneous Permits,MISC20231175,SIDING,808 SOPER,11-16-406-012,SIDING PORCH ONLY,Marks Mary,200.0,INSTALLING NEW SIDING OVER EXISTING MATERIALS ...
57031,2023-09-29,Sep-23,Single Family Dwelling,SFD20233638,ROOF,2956 COTSWOLD,12-09-328-007,Roof,Steve Stenulson,22400.0,tear pff and reroof lic 104.016920
125608,2022-09-27,Sep-22,Electrical Permits,ELECT20222025,MSCWIRERES,241 15TH,11-35-104-004,Grounding Electrode,Holder Kevin,300.0,Upgrade existing grounding electrode due to th...

In [22]:
data = data.fillna("N/A")

In [23]:
# Renaming our Headers for easy read.
data = data.rename(columns={
    "DateIssued1":"Date Issued",
    "PermitType":"Permit Type",
    "PermitNo":"Permit No",
    "WorkType":"Work Type",
    "PropertyAddress":"Property's Address",
    "APName":"AP Name",
    "ContractorFullName":"Contractor's Full Name",
    "Valuation":"Valuation($)"
    }
                   )
data.sample(2)

,Date Issued,Month,Permit Type,Permit No,Work Type,Property's Address,PIN,AP Name,Contractor's Full Name,Valuation($),Description
119857,2022-08-18,Aug-22,Plumbing Permits,PLUM20222244,SWRWTRRES,1816 23RD,12-31-131-010,Water Valve,Unerwood Scott,892.0,Replace valve Rockford public works will need ...
55616,2023-09-21,Sep-23,Plumbing Permits,PLUM20232480,SWRWTRRES,S 309 CHICAGO,11-25-208-013,COR-WATER SERVICE,Gutierrez Maribel,7500.0,License number 058197579 General Contractor Li...

In [24]:
# Renumbering the entire dataset to create order.
data = data.reset_index(drop=True)
data

,Date Issued,Month,Permit Type,Permit No,Work Type,Property's Address,PIN,AP Name,Contractor's Full Name,Valuation($),Description
0,2022-11-13,Nov-22,Single Family Dwelling,SFD20223205,DEMO,1519 OAKES,11-24-128-005,DEMO SFD,Schlichting Robert,16995.75,CITY OF ROCKFORD PROJECT Demolish structure cl...
1,2022-10-31,Oct-22,Single Family Dwelling,SFD20223206,ROOF,N 1015 INDEPENDENCE,11-16-429-008,Roof,Martin Exteriors Inc.,10800.00,Tear off and Reroof
2,2022-10-31,Oct-22,Plumbing Permits,PLUM20222648,WTRHTRCOM,N 419 6TH,11-23-427-001,Water Heater,Fiorenza Jason M J,2500.00,Furnish and Install 40Gallon Gas Water Heater ...
3,2022-10-31,Oct-22,Plumbing Permits,PLUM20222649,REMALTCOMM,N 2990 PERRYVILLE,12-11-301-009,westside children's therapy Interior Build Out,Reilly Ronald,0.00,We are applying for a plumbing permit. The gen...
4,2023-07-21,Jul-23,Multifamily/Commercial Permits,MULCOM20222074,REMALTCOMM,N 902 MAIN,11-23-131-018,Replace Staircase - Windsor Apartments,Brown Kiarra,150000.00,GC info and valuation needed. RM 12/28/22Repla...
...,...,...,...,...,...,...,...,...,...,...,...
19652,2022-11-30,Nov-22,Fire Permits,FIRE20221116,MISCSUPP,N 1659 ALPINE,12-17-403-034,Sonny's Place,Ganske Brad,4270.00,Add new 3 gallon Ansul cylinder with enclosure...
19653,2022-11-01,Nov-22,Single Family Dwelling,SFD20223201,DEMO,719 MAPLE,11-22-228-007,DEMO SFD,Schlichting Robert,16678.50,CITY OF ROCKFORD PROJECT Demolish structure cl...
19654,2022-11-14,Nov-22,Single Family Dwelling,SFD20223202,DEMO,N 1025 CHURCH,11-14-460-002,DEMO HOUSE COR,Schlichting Robert,15607.25,CITY OF ROCKFORD PROJECT Demolish structure cl...
19655,2022-11-13,Nov-22,Single Family Dwelling,SFD20223203,DEMO,N 128 DAY,11-21-138-004,DEMO SFD COR,Schlichting Robert,13219.90,CITY OF ROCKFORD PROJECT Demolish structure cl...
19656,2022-11-13,Nov-22,Single Family Dwelling,SFD20223204,DEMO,N 951 HORSMAN,N/A,DEMO SFD,Schlichting Robert,14587.60,CITY OF ROCKFORD PROJECT Demolish structure cl...

In [25]:
# Sorting our dataset by the date order.
data = data.sort_values(by="Date Issued")
data

,Date Issued,Month,Permit Type,Permit No,Work Type,Property's Address,PIN,AP Name,Contractor's Full Name,Valuation($),Description
17350,2022-08-01,Aug-22,Mechanical Permits,MECH20222077,FURNACRES,5953 CHANDLER,12-09-276-012,HVAC,Stenstrom Robert,7933.0,Replace existing HVAC system with 60000 BTU / ...
17220,2022-08-01,Aug-22,Single Family Dwelling,SFD20222251,FENCE,3383 APPLEWOOD,12-09-128-012,Fence+,Derrickson Rick,8300.0,Replacing existing 167'of 4' to 6' dogear priv...
17235,2022-08-01,Aug-22,Multifamily/Commercial Permits,MULCOM20221669,SIGNS,1004 1ST,11-26-230-004,Sign-Charles St. Currency,Spencer Crystal,10904.0,replace faces on existing building sign
17254,2022-08-01,Aug-22,Electrical Permits,ELECT20221704,REMALT1,6697 LAURELCHERRY,12-27-403-010,Basement Remodel,Baker Zachary,2500.0,Basement Remodel Addition of basement bathroom...
17264,2022-08-01,Aug-22,Plumbing Permits,PLUM20222072,WTRHTRRES,2230 13TH,11-25-480-014,Water Heater,Vanbuskirk Mark,1490.0,License 58173477 Replacement 40 gal water heater
...,...,...,...,...,...,...,...,...,...,...,...
16247,2024-08-30,Aug-24,Single Family Dwelling,SFD20242986,REMALT1,1342 BOILVIN,11-14-430-021,REMODEL,Belmontes Maria G,300.0,THE CURRENT WOODEN STEPS WILL BE REMOVED AND C...
15717,2024-08-30,Aug-24,Single Family Dwelling,SFD20242805,FENCE,913 LOOMIS,11-27-176-007,FENCE,Hernandez Jose,2500.0,6' WOOD PRIVACY FENCE
16469,2024-08-30,Aug-24,Single Family Dwelling,SFD20243074,ADD1,123 FAIRVIEW,12-19-478-003,ADDITION TO HOUSE,Kubala William,12000.0,GARAGE REBUILD & ADDITION BREEZEWAY REBUILD AD...
16382,2024-08-30,Aug-24,Fire Permits,FIRE20241074,SPRINKLER,E 8201 RIVERSIDE,12-01-301-002,Javon Bea Mercyhealth - Cancer Center Addition,Banta Shane,53691.0,Layout Coordinate and Install a new wet fire s...
15302,2024-08-31,Aug-24,Single Family Dwelling,SFD20242610,FENCE,609 COLLEGE,11-26-179-008,FENCE,Infante Myrka,3000.0,PRIVACY FENCE

In [26]:
# Saving our new dataset to a csv file.
data.to_csv('cleaned data.csv', index=False)